<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppCredentials</key>
	<dict>
		<key>API_SERVER_URL</key>
		<string>https://api.test.bitmark.com</string>
		<key>BITMARK_API_TOKEN</key>
		<string>bmk-lljpzkhqdkzmblhg</string>
		<key>FILE_COURIER_SERVER_URL</key>
		<string>https://file-courier.test.bitmark.com</string>
		<key>KEY_ACCOUNT_ASSET_SERVER_URL</key>
		<string>https://key.test.bitmarkaccountassets.com</string>
		<key>MOBILE_SERVER_URL</key>
		<string>https://bm.test.bitmark.com</string>
		<key>PROFILES_SERVER_URL</key>
		<string>https://profiles.test.bitmark.com</string>
		<key>REGISTRY_SERVER_URL</key>
		<string>https://registry.test.bitmark.com</string>
		<key>ZERO_ADDRESS</key>
		<string>dw9MQXcC5rJZb3QE1nz86PiQAheMP1dx9M3dr52tT8NNs14m33</string>
		<key>INTERCOM_APP_KEY</key>
		<string>ios_sdk-73c4808d20211944196736d561a405f6ffcdaded</string>
		<key>INTERCOM_APP_ID</key>
		<string>ejkeunzw</string>
	</dict>
	<key>AppGroupId</key>
	<string>group.com.bitmark.localstorage</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Bitmark</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.60.2</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.bitmark.registry.test</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>registry</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>114</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is needed to scan QR code.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID is used to put your account in secured place.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) will use photos from your library to issue bitmarks.</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.bitmark.bitmarkios</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<false/>
			<key>NSUbiquitousContainerName</key>
			<string>Bitmark</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>One</string>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>andale_mono.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
